<h1>Student Form</h1>

<%= form_tag students_path do %>
  <label>First Name:</label><br>
  <%= text_field_tag :first_name %><br>
  <label>Last Name:</label><br>
  <%= text_field_tag :last_name %><br>
  <%= submit_tag "Submit Student" %>
<% end %>

<!-- The form_tag Rails form helper method creates opening and closing <form></form> tags.
It knows that the method property of <form> equals "POST" since the form is being submitted via a POST request
form_tag method is passed the argument of the #students_path route helper method, which returns "/students" (index page URL)
because the POST request sent by the form to create a new student is received by post "/students" route
form_tag also automatically creates authenticity token
Rails form helper method text_field_tag is called with argument :first_name to generate
<input type="text" id="first_name" name="first_name"> form field where student enters their first name in form
The :first_name argument is the name property value of this <input> form field, as a symbol. Name property value of <input> is key in params hash
Rails form helper method text_field_tag is called with argument :last_name to generate
<input type="text" id="last_name" name="last_name"> form field where student enters their last name in form
The :last_name argument is the name property value of this <input> form field, as a symbol
The name property value of <input> is key in params hash
Therefore, when the form to create a new student is submitted, the params hash has top-level keys of "first_name" and "last_name",
pointing to the values that the user entered into the "First Name:" and "Last Name:" form fields, respectively.
These values submitted in the form will become the @first_name and @last_name attribute values
of the student instance created in #create action (method) defined in StudentsController class
The submit_tag Rails form helper method is passed the "Submit Student" string argument
to create a submit button with the text "Submit Student", i.e.,
<input type="submit" value="Submit Student">
-->
