<!-- Create your form here -->

<h3>Student Form</h3>
<form>

  <label>First Name:</label>
    <input type="text" name="first_name" placeholder="First Name:">

  <label>Last Name:</label>
      <input type="text" name="last_name" placeholder="Last Name:">

<input type="submit" value="Submit Student">

</form>
