<!-- Create your form here -->
<form>
  <label>First Name</label>
  <input type="text" id="first_name" name="student[first_name]"><br>

  <label>Last Name</label>
  <input type="text" id="last_name" name="student[last_name]"><br>

  <input type="submit" value="Save">
</form>

<%= params.inspect %>
